- content_for :head do
  = javascript_include_tag "https://www.tungle.me/portal/js/plugins/tungle.mwmWidget.js"

%section#banner.row
  %article.col.col_10.align_left.hyphenate
    :textile
      Hi, my name's Jarin Udom. I'm the founder and lead developer of "Robot Mode LLC":http://robotmodehq.com, a web and mobile development company in San Diego.
      
      I work with all kinds of technology, but I specialize in web development with Ruby on Rails and writing iPhone and iPad apps. I also help companies interact with their customers and become more efficient through technology.
      
      
  %figure.col.col_6.align_center
    = image_tag "jarin.jpg", :alt => "Jarin Udom"
    %p.caption Imperial Palace Gardens, Tokyo, Japan
    
.clear
    
%section#content.row
  %aside#fun_facts
    :textile
      This site was developed on a Mac with Rails 3, HTML5, CSS3, HAML, SASS, and 52framework. Cutting edge!
    
  %section.col.col_11
    %article.hyphenate
      :textile
        h2. Ok, tell me something awesome.
        
        h4. Here are some nice things people much smarter than me have said:
        
        bq. "Jarin is a well rounded and an analytical entrepreneur, he has a keen sense of innovation and consumers grasp of technology, a great fit for any organization." %(source)Chris Wallace, Co-Founder, "3Crowd":http://www.3crowd.com/company/management/%
        
        bq. "Jarin is a very talented developer, project manager and thinker. During the time I worked with him I was regularly impressed by his forward thinking ideas and methods. Not only does he have the skills as a developer, but the ability to effectively manage others to get the job done. I observed him lead projects from inception to completion while incorporating innovative strategies and solutions along the way, one in particular that was a first for our industry and an idea all his own. He is extremely knowledgeable and competent in his field and an asset to any company." %(source)Robert Swisher, Director of Technology, Naughty America%
        
        bq. "Jarin is the next best thing to Google. Jarin has the ability to read very complex technical books that take most people months or years to articulate and apply them almost immediately. I witnessed Jarin read a CCNA book twice cover to cover and then pass his exam on the first attempt. My phone a friend call for a million dollars will be to Jarin." %(source)Josh Cowan, Sr. Network Security Engineer, WA Dept of Information Services%
        
    %article.hyphenate
      :textile
        h2. Cool. Gotten any press?
        
        h3. Smartphone Apps Fuel Business
      
      %ul.inline_links
        %li.first= link_to "Wall Street Journal", "http://online.wsj.com/article/SB125071635069144197.html"
        %li= link_to "Entrepreneur Magazine", "http://www.entrepreneur.com/technology/newsandtrends/article205368.html"
        %li= link_to "Smart Money Small Business", "http://www.smsmallbiz.com/technology/Smartphone_Apps_Fuel_Business.html"
              
      :textile
        Diana Ransom interviewed me for an article how independent iPhone developers can help small businesses attract new customers and increase revenue. Mad props to "Tobias L&uuml;tke":http://blog.leetsoft.com/ of "Shopify":http://www.shopify.com/?ref=robotmode for hooking up the interview.
        
        h3. Naughty America Is Building An iTunes For Porn
      
      %ul.inline_links
        %li.first= link_to "TechCrunch", "http://techcrunch.com/2008/10/08/come-and-get-it-naughty-america-is-building-an-itunes-for-porn/"
        %li= link_to "The Washington Post", "http://www.washingtonpost.com/wp-dyn/content/article/2008/10/08/AR2008100803175.html"
        
      :textile
        TechCrunch article about Naughty America Direct, an iTunes Store-like Adobe AIR application that I planned, managed, and helped develop. The secret to getting an article on TechCrunch? Write Mike Arrington an email at 3 in the morning, I guess. G4's Attack of the Show also did a segment on it, but it's no longer available on their website.
        
  %aside.col.col_5
      
    %section.first
      :textile
        h3. Around the Web
        
        * "Twitter":http://twitter.com/jarin
        * "Jarinheit":http://jarinheit.posterous.com
        My blog of programming stuff
        * "Jarin's Posterous":http://jarin.posterous.com
        Random links and videos
        * "Facebook":http://facebook.com/jarin
        * "LinkedIn":http://www.linkedin.com/in/jarinudom
        * "Pinboard":http://pinboard.in/u:jarin
        My bookmarks
        
    %section
      = link_to image_tag("http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png", :width => 165, :height => 64, :alt => "HTML5 Powered with CSS3 / Styling, and Semantics", :title => "HTML5 Powered with CSS3 / Styling, and Semantics"), "http://www.w3.org/html/logo/"

    %section
      %h3 Call or Meeting
      = javascript_include_tag "http://download.skype.com/share/skypebuttons/js/skypeCheck.js"
      = link_to image_tag("http://mystatus.skype.com/bigclassic/jarinudom", :style => "border: none;", :width => "182", :height => "44", :alt => "My status"), "skype:jarinudom?call"
      
      = image_tag "https://www.tungle.me/public/jarin/busyicon", :class => "tungle-me", :teml => "jarin"
      
      = javascript_include_tag "http://plancast.com/goodies/widgets/sidebar/1/936"
    
    %section
      :textile
        h3. Things I Use
        
        * "Basecamp":http://www.basecampHQ.com/?referrer=JARINUDOM
        Project management and collaboration
        * "Highrise":http://www.highriseHQ.com/?referrer=JARINUDOM
        CRM and business communications
        * "Backpack":http://www.backpackIT.com/?referrer=JARINUDOM
        Notes and snippets
        * "Shopify":http://www.shopify.com/?ref=robotmode
        e-commerce that even non-techies love
        * "Slicehost":https://manage.slicehost.com/customers/new?referrer=b408967bd7ff2edb81a5d12a51852f13
        Cheap, powerful hosting
        * "Github":http://github.com/jarinudom
        Version control
        * "Textmate":http://macromates.com
        Code editor extraordinaire
        
    %section
      :textile
        h3. Homies and Cronies
        
        * "Jason Hanes":http://sneaky.me
        Web developer
        * "Daryl Sterling":http://themightyafro.com
        Developer and ping pong champion
        * "Laura D":http://www.howilearnedtolive.com
        Bacon addict
        * "David Moye":http://www.aolnews.com/team/david-moye/
        Weird News Journalist and Public Relations
        
.clear
