.row
  %header
    %h1.logo.left= link_to "Jarin Udom", root_path

    %nav.right
      %ul
        %li{:class => "#{current_page?(root_path) ? 'active' : ''}"}
          = link_to "Home", root_path
        / %li{:class => "#{current_page?(:controller => 'resume', :action => 'index') ? 'active' : ''}"}
        /   = link_to "Resume", resume_path
        %li
          = link_to "View Source", "http://github.com/jarinudom/jarinudom.com", :class => "skinny"
.clear